
.service-types-container{
    background-color: darkred;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: auto;

} 

 .service-types{
  
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}


.service-types-button{
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
  color: white;
}

.service-types-list span.active{
  font-weight: bold;
}
.service-types-list span.active::before{
  content: '>';
  position: relative;
  top: -2px;
  margin-right: 6px;
  transform: scale(0.8, 1);
  display: inline-block;
}
