.main-container{
    height: 100vh;
    position: relative;
    z-index: 6;
    background-color: darkred;
    color: white;
    margin-bottom: 0;
}
.main-container  main{
    max-width: 900px;
    margin: 0 auto;
}

.account-header{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* border-bottom: 1px solid white; */
}

.header-image{
    
    display: none;
}

.header-text{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.main-body{
    max-width: fit-content;
    margin: 100px auto
}
.header-text2{
    margin-top: 50px;
}
.header-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-body button{
    background-color: transparent;
    color: white;
    padding: 15px;
    font-size: 20px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50px;
}
/*.................responsive........................*/

@media screen and  (max-width: 950px){
    
.header-text2{
    display: none;
}
.header-image{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 40px;
}
}
.order-start-again{
  padding: 10px;
  border-radius: 5px;
}