/* .hero-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
} */

.hero-container {
  background: url('/images/image10.jpg') center center/cover no-repeat;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  z-index: 0;
}

.hero-container > h1 {
  color: #fff;
  font-size: 7vmin;
  margin-top: 150px;
 
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 4vmin;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}
.typed-text{
   background-color: rgba(0, 0, 0, 0.4);
   font-size: 2rem;
   color: orange;
   margin-top: 50px;
 }
.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
   .typed-text{
font-size: 1.3rem;
font-weight:bolder;
 }
 
 .hero-container img{
   top:0
 }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }
.hero-container img{
  top:0
}
  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  
  }
  .hero-btns{
    margin-right: 15px;
    margin-top: 10px;
  }
}
